* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
body {
  font-family: "PT sans";
}
p {
  font-family: "PT sans";
}
.wrapper_full {
  width: 100%;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.display_flex {
  display: flex;
  flex-wrap: wrap;
}

/* header starts here */
.header {
  padding: 45px 0px;
  background: #fcdb00;
}
.header_logo {
  width: 160px;
  margin: 0px 5px;
}
.header_menu {
  width: 780px;
  margin: 0px 5px;
}
.header_menu ul {
  float: right;
}
.header_menu ul li {
  float: left;
}
.header_menu ul li a {
  font-size: 22px;
  font-family: "PT sans";
  font-weight: 700;
  color: #010101;
  display: block;
  padding: 0px 32px;
}
.header_menu ul li:last-child a {
  padding-right: 5px;
}
/* header ends here */

/* hero starts here */
.hero {
  padding-top: 10px;
  padding-bottom: 80px;
  background: #fcdb00;
}
.hero_content {
  width: 400px;
  margin: 0px 5px;
  position: relative;
}
.hero_content h2 {
  color: #010101;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 20px;
}
.hero_content h3 {
  color: #313841;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 25px;
}
.hero_content p {
  color: #555555;
  line-height: 1.6;
  font-size: 16px;
  padding-bottom: 35px;
}
.hero_content i {
  padding-right: 35px;
  color: #010101;
  font-size: 42px;
}
.hero_content i:last-child {
  padding-left: 65px;
}
.hero_content a img {
  top: 340px;
  left: 60px;
  position: absolute;
}
.hero_banner {
  width: 540px;
  margin: 0px 5px;
  padding-left: 50%;
  transform: translateX(-58%);
}
/* Features part starts here */
.features {
}
.feature_heading h3 {
  color: #010101;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 118px;
  padding-bottom: 20px;
  text-align: center;
}
.feature_heading p {
  color: #313841;
  /* font-size: 20px; */
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
  padding-bottom: 95px;
}
.feature_item {
  width: 300px;
  margin: 0px 10px;
}
.feature_item_img {
  width: 60px;
}
.feature_item_heading {
  width: 220px;
  margin: 0px 10px;
}
.feature_item_heading h4 {
  padding-bottom: 18px;
  color: #010101;
}
.feature_item_heading p {
  padding-bottom: 88px;
  color: #898989;
}
/* Features part ends here */

/* footer part starts here */
.footer {
  padding-top: 10px;
  padding-bottom: 80px;
  background: #000;
}

.footer_heading h3 {
  color: #fcdb00;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 32px;
}
.footer_heading p {
  color: #676767;
  /* font-size: 20px; */
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
  padding-bottom: 95px;
}

/* footer part ends here */
.email-input {
  align-items: center;
  /* importent thing to remember */
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.email-input input {
  flex-grow: 1;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #fff;
  color: #898989;
  border: 1px solid #ccc;
  max-width: 600px;
}

.submit-btn {
  padding: 15px 20px;
  background-color: #fcdb00;
  color: #111;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.email-input .submit-btn:hover {
  background-color: #d1a108;
}


